/* ? -------  Trouble shoot checking section --------- */

/* * {
  background-color: rgb(0 100 0 / 0.1);
} */

/* *--------------------- Reset ---------------------* */

*,
*::after,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.container {
  margin: 0rem 1rem;
  padding: 1rem 1rem;
}

@media screen and (min-width: 1600px) {
  .container {
    max-width: 1600px;
    margin: 0rem auto;
  }
}

/* *--------------------- Root ---------------------* */

:root {
  --color-background: #fff;
  --color-fonts: #000000;
  --color-notes-background: #f3f5f8;
  --color-addingBtn: #5f5ac9;
}

/* *------------------ Typography -------------------* */

body {
  font-size: 62.5%;
  /* 1rem = 10px */
}

h1 {
  font-size: 2rem;
  font-weight: 500;
}

h2 {
  font-size: 1.2rem;
  font-weight: 500;
}

p {
  font-size: 1rem;
  font-weight: 300;
}

input,
a {
  font-size: 1rem;
}

@media screen and (min-width: 1000px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.4rem;
    font-weight: 500;
  }

  p {
    font-size: 1.2rem;
    font-weight: 300;
  }
}

/* *-------------------- Header -------------------- */
.header {
  padding-top: 2rem;
}

.header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.header__title {
  line-height: 2.5rem;
}

.header__top .header__icon svg {
  width: 25px;
  height: 25px;
  margin-left: 4rem;
  cursor: pointer;
}

.header__bottom form {
  display: flex;
}

.header__bottom .icon {
  cursor: pointer;
  background-color: var(--color-notes-background);
  width: 25px;
  padding: 4px 4px 4px 8px;
  height: 40px;
  border-radius: 5px 0 0 5px;
}

.header__bottom form {
  width: 100%;
}

.header__bottom input {
  flex-grow: 1;
  padding: 0.5rem;
  border: 0;
  background-color: var(--color-notes-background);
  border-radius: 0 5px 5px 0;
  outline: none;
}
@media screen and (min-width: 1000px) {
  .header__bottom .icon {
    width: 30px;
    height: 60px;
    padding: 4px 4px 4px 10px;
  }

  .header__bottom input {
    font-size: 1.3rem;
    flex-grow: 1;
    padding: 1rem 0.5rem;
  }
}

/* *------------------------ Note Section ------------------------------* */

.notes-container {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1.5rem;
}

.note__self {
  padding: 1rem;
  background-color: var(--color-notes-background);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.note__header {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-bottom: 0.5rem;
}

.note__header__date {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.note__header__date p {
  font-size: 1rem;
}

.note__header__edit {
  cursor: pointer;
  padding: 0.1rem;
  width: 20px;
  height: 20px;
}

.note__text h2 {
  margin-bottom: 0.8rem;
}

.note__update {
  margin: 2rem 0rem 1rem 0rem;
  display: flex;
  justify-content: end;
}

@media screen and (min-width: 500px) {
  .notes-container {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1.5rem;
    column-gap: 1.5rem;
  }
}

@media screen and (min-width: 1000px) {
  .notes-container {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 1.5rem;
    column-gap: 1.5rem;
  }

  .note__header__edit {
    padding: 0.1rem;
    width: 25px;
    height: 25px;
  }
}

/* *------------------------- Adding Note Btn Section -------------------------* */

.adding-notes-btn {
  display: flex;
  justify-content: end;
}

.add__btn {
  cursor: pointer;
  padding: 0.5rem;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background-color: var(--color-addingBtn);
  position: absolute;
  bottom: 30px;
}

@media screen and (min-width: 500px) {
  .add__btn {
    padding: 1rem;
    width: 70px;
    height: 70px;
    bottom: 40px;
  }
}

@media screen and (min-width: 500px) {
  .add__btn {
    width: 80px;
    height: 80px;
    bottom: 50px;
  }
}

/* *--------------------------- Adding Note Modal ------------------------------*  */
.adding-notes-modal {
  display: none;
  z-index: 2;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.213);
  width: 100%;
  height: 100vh;
}

.notes-modal__main__title{
  font-size: 1rem;
  font-weight: 600;
  padding: 0.5rem;
  color: var(--color-addingBtn);
}

.notes-modal__main {
  position: relative;
  padding: 1.5rem;
  top: 20vh;
  margin: 0 auto;
  width: 70vw;
  border-radius: 5px;
  background-color: var(--color-background);
  display: flex;
  flex-direction: column;
}

.notes-modal__main form {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

.notes-modal__main form input {
  margin-bottom: 1rem;
  border: 0.1px solid #bfbfbf88;
  border-radius: 5px;
  outline: none;
  padding: 1rem;
  font-size: 1rem;
}

.notes-modal__buttons{
  display: flex;
  justify-content: end;
}

.notes-modal__buttons button {
  padding: 0.5rem;
  margin: 0.5rem;
  cursor: pointer;
  outline: none;
  border: 0;
  border-radius: 5px;
}

.notes-modal__buttons__cancel{
  color: var(--color-background);
  background-color: rgb(247, 75, 89);
}